$breakpoints: ( //
    mobile: 375px,
    desktop: 1440px,
);

$colors: ( //
    main-primary: #090b1a,
    card-primary: #1b1938,
    accent: #aa5cdb,

    main-heading: #ffffff,
    main-paragraph: #ffffffbf,
    stat-heading: #ffffff99,
);