.card {
    background-color: c(card-primary);
    width: 80vw;
    height: 88vh;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    margin-bottom: clamp(2rem, 3vh, 5rem);

    @include desktop {
        width: 77vw;
        height: 55vh;
        margin-top: 5.6rem;
        flex-direction: row;
    }
}